@charset "utf-8";
/* CSS Document */
body {
    background-color: rgba(79,78,78,0.58);
    height: 100vh;
    width: 99%;
    font-family: 'Charm', cursive;   
}

a {
    font-size: 36px;
    color: black;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}
          
/*header*/
header {
    background-color: rgba(54,67,57,0.75);
    width: 100%;
}
header h1 {
    color: white;
    font-family: 'Charmonman', cursive;
}
/*section*/
section {
    width: 100%;
    margin: auto;
    text-align: center;
}
section a {
    color: white;
    text-align: center;
}
section a:hover {
    background-color: rgba(54,67,57,0.75);
    color: white;
    text-align: center;
}
#gallery {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1em;
    
}
#gallery img {
    width: 100%;
    margin: auto;
}
#welcome {
    margin: 10px;
    color: white
}
#welcome img {
    width: 20%;
}
#welcome h1 {
    font-size: 96px;
    margin: 10px;
}
#welcome h2 {
    font-size: 48px;
    margin: 10px;
}
#welcome button {
    font-size: 24px;
    color: white;
    background-color: rgba(141,141,141,1.00);
}
#welcome button:hover {
    background-color: rgba(54,67,57,0.75);
}

/*footer*/
footer {
    font-size: 24px;
    text-align: center;
    background-color: rgba(54,67,57,0.75);
    height: 90px;
    width: 100%;
    line-height: 0.6;
    padding: 2px;
}       
