@charset "utf-8";
/* CSS Document */
@media only screen and (max-width: 991.98px) {
        header {
            text-align: center;
            font-size: 12px;
            margin-bottom: 6em;
        }
        header h1 {
            margin: 0px;
        }
        header .menu-icon {
            right: 44%;
            bottom: -6em;
            margin-bottom: 6em;
        }
        header ul {
          margin: 0;
          padding: 0;
          list-style: none;
          overflow: hidden;
          background-color: rgba(54,67,57,0.25);
        }

        header li a {
          display: block;
          padding: 20px 20px;
          text-decoration: none;
        }

        header li a:hover {
          background-color: rgba(54,67,57,0.25);
        }

        header .logo {
          display: block;
          float: left;
          font-size: 2em;
          padding: 10px 20px;
          text-decoration: none;
        }

        header .menu {
          clear: both;
          max-height: 0;
          transition: max-height .2s ease-out;
        }
        header .menu-icon {
          cursor: pointer;
          display: inline-block;
          float: right;
          padding: 28px 20px;
          position: relative;
          user-select: none;
        }
        header .menu-icon .navicon {
          background: #333;
          display: block;
          height: 2px;
          position: relative;
          transition: background .2s ease-out;
          width: 30px;
        }

        header .menu-icon .navicon:before,
        header .menu-icon .navicon:after {
          background: #333;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all .2s ease-out;
          width: 100%;
        }

        header .menu-icon .navicon:before {
          top: 8px;
        }

        header .menu-icon .navicon:after {
          top: -8px;
        }
        header .menu-btn {
          display: none;
        }

        header .menu-btn:checked ~ .menu {
          max-height: inherit;
        }

        header .menu-btn:checked ~ .menu-icon .navicon {
          background: transparent;
        }

        header .menu-btn:checked ~ .menu-icon .navicon:before {
          transform: rotate(-45deg);
        }

        header .menu-btn:checked ~ .menu-icon .navicon:after {
          transform: rotate(45deg);
        }

        header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
        header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
          top: 0;
        }
}
